.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination button{
    cursor: pointer;
    border-radius: 16px;
    margin: 5px;
    width: 30px;
    height: 30px;
    background: #1649ff;
    color: #fff;
    border: 1px solid #1649ff;
}